{
  "presets": [
    ["env",{
        "modules":false,
        "targets": {
            "node": "current",
            "uglify": true
        }
     }], "react"],
  "plugins": ["react-hot-loader/babel"],
  "env":{
    "test":{
      "presets":["env"]
    }
  }
}